

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');


body{
  font-family: "Delius Swash Caps";
  background: linear-gradient(to bottom, #dadada, #e0e0e0);
}

img {
  width: 90px;
}

.Header{
  display: flex;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 1400px;
}

.settings-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: #cfcece;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.2;
  font-size: 16px;
}

.login-button{
  display: flex;
  gap: 5px;
  padding: 15px 30px;
  background: #cfcece;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 14px;

}

.Title {
  text-align: center;
  margin-bottom: 50px;
}

.Container {
  /* height: 230px; */
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.Container img {
  width: 700px;
  height: 250px;
  object-fit: cover;
  border-radius: 50px;
  padding: 20px;

}

.Content {
  text-align: center;
  margin-top: 40px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  font-size: 19px;
  cursor: pointer;
}

.button:hover {
  background: #f0f0f0;
}

.button:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-container{
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
  font-size: 19px;
}

.text-container p{
  margin-bottom: 20px;
}

.text-container li{
  margin-bottom: 20px;
}

.page-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 720px;
  padding: 20px;
}

.sidebar{
  width: 300px;
  height: 500px;
  background: #949394bd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.right-sidebar{
  width: 200px;
  height: 300px;
  margin-left: 10px;
  margin-top: 20px;
  
}

.report-button{
  background: rgb(59, 59, 59);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  width: 160px;
  height: 40px;
  font-size: 14px;
  margin-top: 20px;
}

.report-button:hover{
  background: #8f8f8f;
}

.location-icon{
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

.sidebar p{
  font-size: 18px;
  font-weight: bold;
  
}

.report-container{
  background: #949394bd;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 400px;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;

}

label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input, select {
  width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #dad8d8;
  font-size: 14px;
}

input[type="description"]{
  height: 150px;
}

input[type="checkbox"]{
  margin-right: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkbox-group input{
  width: 16px;
  height: 16px;
  margin: 0;
  vertical-align: middle;
}

button{
  padding: 10px;
}

button:hover{
  background: #747474;
  
}

