

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');


body{
  font-family: "Delius Swash Caps";
}

img {
  width: 90px;
}

.Header{
  display: flex;
}

.Title {
  text-align: center;
  margin-bottom: 50px;
}

.Container {
  background-color: #aaafbf;
  height: 230px;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

.Container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

.Content {
  text-align: center;
  margin-top: 40px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  font-size: 19px;
  cursor: pointer;
}

.button:hover {
  background: #f0f0f0;
}

.button:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.text-container{
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
  font-size: 19px;
}

.text-container p{
  margin-bottom: 50px;
}

.text-container li{
  margin-bottom: 20px;
}

