.Content {
    text-align: center;
    margin-top: 40px;
  }

  .text-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.6;
    font-size: 19px;
  }

  
.text-container p{
    margin-bottom: 20px;
  }
  
  .text-container li{
    margin-bottom: 20px;
  }