
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

:root {
  --primary-bg: #c2dceb;
  --secondary: #82aed4;
  --tertiary: #1d2d50;
  --text-color: #1d2d50;
  --hover-color: #5a9ec2;
}

body{
  font-family: "Delius Swash Caps";
  background-color: var(--primary-bg);
  color: var(--text-color);

}

button{
  background-color: var(--secondary);
  border: none;
}

button:hover {
  background-color: var(--hover-color);
};




/* body{
  font-family: "Delius Swash Caps";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
} */
