.report-container{
    background: #82aed4;
    width: 800px;
    padding: 30px;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .map-container{
    width: 100%;
    max-width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
  }

.page-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  margin-top: 50px;
}

  .sidebar{
    width: 320px;
    height: auto;
    background: #82aed4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   
  }

.sidebar img{
  max-width: 300px;
  height: auto;
  border-radius: 8px;
 
}

.sidebar p{
  font-size: 18px;
  font-weight: bold;
  
}
  
  .report-button{
    background: #1d2d50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    width: 160px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
  }
  
  

  select{
    
    width: 100px;
    padding: 10px;
    font-size: 14px;
    
  }

  
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  
  }

  

  .form-colums{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
 .titles{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
 }

 .report-form{
  display: flex;
  justify-content: space-between;
  gap: 30px;
 }

 .form-left, .form-right {
  display: flex;
  flex-direction: column;
  width: 48%;
 }

  label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input, select, textarea {
  
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: #dad8d8;
    font-size: 14px;
    
  }
  
  textarea{
    width: 100%;
    resize: vertical;
    height: 120px;
    resize: none;
  }

  input[type="description"]{
    height: 150px;
  }
  
  input[type="checkbox"]{
    margin-right: 10px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .checkbox-group input{
    width: 16px;
    height: 16px;
    
  }
  
  .submitbutton{
    width: 50%;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    background: #1d2d50;
  }
  
