.view-container{
    width: 0%;
    margin: 50px auto;
    text-align: center;
}

.view-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reports-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.report-card{
    background: #82aed4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.image-placeholder{
    width: 100%;
    height: 250px;
    background: #ffffff;
    margin-bottom: 10px;
}

.image-placeholder img{
    width: 200px;
    
}

.report-info p {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
}